<% content_for :header_tags do %>
  <%= javascript_include_tag "user_knowledge.js", :plugin => 'redmine_knowledge_manager' %>
  <%= javascript_include_tag "autocomplete-rails.js", :plugin => 'redmine_knowledge_manager' %>
<% end %>

<h2><%= l('km.label_knowledges') %></h2>

<div class="splitcontentleft">
	<%= form_for :user_knowledge, url: {controller: "user_knowledges", action: "new"}, method: 'get' do |f| %>
    <fieldset class="box tabular" style="margin-right:10px">
      <legend><%= l('km.label_add_knowledge') %></legend>
      <%= f.hidden_field :user_id, :value => @user.id %>
      <p>
        <%= f.label :knowledge_id, l('km.label_knowledge') %>
        <%= f.autocomplete_field :name, :autocomplete_knowledge_name %>
        <%= f.hidden_field :knowledge_id  %>
      </p>
      <p>
        <%= f.label :level, l('km.label_level') %>
        <%= f.select :level, options_for_select(Knowledge.level_options) %>
      </p>
    </fieldset>
    <div><%= f.submit l(:button_submit) %></div>
  <% end %>
</div>

<div class="splitcontentleft">
  <fieldset class="box tabular" style="margin-left:10px">
    <legend>Conocimientos</legend>
    <table class="list issues">
      <tr>
        <th><%= l('km.label_knowledge') %></th>
        <th><%= l('km.label_level') %></th>
        <th></th>
      <tr/>
  	  <% @user.user_knowledges.each do |knowledge| %>
  	  	<tr>
          <td><%= knowledge.knowledge.name %></td>
          <td><%= knowledge.level %></td>
          <td><%= link_to l(:button_delete), {:controller => 'user_knowledges', :id => knowledge.id, :action => 'destroy'}, :method => :delete, :data => {:confirm => l(:text_are_you_sure)}, :class => 'icon icon-del' %></td>
        </tr>
  	  <% end %>
  	</table>
  </fieldset>
</div>